NET "CLOCK" LOC = P123;


NET "P1_LEFT" LOC = P16;
NET "P1_READY" LOC = P14;
NET "P1_RIGHT" LOC = P11;
NET "P2_LEFT" LOC = P140;
NET "P2_READY" LOC = P138;
NET "P2_RIGHT" LOC = P132;

NET "P1_LEFT_OUT" LOC = P6;
NET "P1_READY_OUT" LOC = P8;
NET "P1_RIGHT_OUT" LOC = P10;
NET "P2_LEFT_OUT" LOC = P17;
NET "P2_READY_OUT" LOC = P22;
NET "P2_RIGHT_OUT" LOC = P24;