//! **************************************************************************
// Written by: Map P.20131013 on Mon Dec 12 21:31:35 2022
//! **************************************************************************

SCHEMATIC START;
COMP "CLOCK" LOCATE = SITE "P123" LEVEL 1;
COMP "P1_READY_OUT" LOCATE = SITE "P8" LEVEL 1;
COMP "P2_LEFT_OUT" LOCATE = SITE "P17" LEVEL 1;
COMP "P2_RIGHT_OUT" LOCATE = SITE "P24" LEVEL 1;
COMP "P1_LEFT_OUT" LOCATE = SITE "P6" LEVEL 1;
COMP "P1_RIGHT_OUT" LOCATE = SITE "P10" LEVEL 1;
COMP "P1_READY" LOCATE = SITE "P14" LEVEL 1;
COMP "P1_RIGHT" LOCATE = SITE "P11" LEVEL 1;
COMP "P2_READY" LOCATE = SITE "P138" LEVEL 1;
COMP "P2_RIGHT" LOCATE = SITE "P132" LEVEL 1;
COMP "P2_READY_OUT" LOCATE = SITE "P22" LEVEL 1;
COMP "P1_LEFT" LOCATE = SITE "P16" LEVEL 1;
COMP "P2_LEFT" LOCATE = SITE "P140" LEVEL 1;
SCHEMATIC END;

