//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 14 18:01:24 2022
//! **************************************************************************

SCHEMATIC START;
COMP "CLOCK" LOCATE = SITE "P123" LEVEL 1;
COMP "VSYNC" LOCATE = SITE "P12" LEVEL 1;
COMP "GREEN" LOCATE = SITE "P22" LEVEL 1;
COMP "BLUE" LOCATE = SITE "P17" LEVEL 1;
COMP "P1_READY" LOCATE = SITE "P131" LEVEL 1;
COMP "P1_RIGHT" LOCATE = SITE "P133" LEVEL 1;
COMP "P2_READY" LOCATE = SITE "P139" LEVEL 1;
COMP "P2_RIGHT" LOCATE = SITE "P141" LEVEL 1;
COMP "HSYNC" LOCATE = SITE "P15" LEVEL 1;
COMP "P1_LEFT" LOCATE = SITE "P126" LEVEL 1;
COMP "P2_LEFT" LOCATE = SITE "P137" LEVEL 1;
COMP "RED" LOCATE = SITE "P24" LEVEL 1;
SCHEMATIC END;

