NET "CLOCK" LOC = P123;
NET "RED" LOC = P24;
NET "GREEN" LOC = P22;
NET "BLUE" LOC = P17;
NET "HSYNC" LOC = P15;
NET "VSYNC" LOC = P12;

NET "P1_LEFT" LOC = P126;
NET "P1_READY" LOC = P131;
NET "P1_RIGHT" LOC = P133;
NET "P2_LEFT" LOC = P137;
NET "P2_READY" LOC = P139;
NET "P2_RIGHT" LOC = P141;

# PlanAhead Generated physical constraints 


